/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        -webkit-tap-highlight-color: transparent;
    }
    .pb-safe {
        padding-bottom: env(safe-area-inset-bottom);
    }
}; 

@layer utilities {
    .grid-center {
        @apply flex justify-center items-center;
    }
    .drop-down {
        transition: opacity 0.2s cubic-bezier(.65,0,.35,1), visibility 0.2s cubic-bezier(.65,0,.35,1);
    }
    .drop-down-closed {
        @apply invisible opacity-0
    }
}
